@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-background {
  background: #0f0c29;
  background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
}

.wrapper {
  @apply h-full max-w-[60%] mx-auto
}

.Typewriter__wrapper,
.Typewriter__cursor {
  @apply text-4xl
}

.Typewriter__mobile {
  @apply text-violet-300
}

.Typewriter__desktop {
  @apply text-rose-300
}

.Typewriter__web {
  @apply text-pink-300
}